{% extends 'layouts/default.twig' %}

{% block content %}
    {% if answers.answers is not empty %}
   {# <form class="pull-right form-inline" action="/survey/questions">
        <div class="form-group">
            <input name="term" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
    </form>#}
    <div class="pull-right">
        <a href="/survey/download" class="btn btn-success">Export Result</a>
        <a href="/survey/clear" class="btn btn-danger" onclick="return confirm('Are you sure you want to clear result')">Clear Result</a>
    </div>
    <div class="clearfix"></div><br/>
    {% for key, answer in answers.answers %}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-target="#{{ key }}">
                        <strong>Question {{ answer.question_id}}:</strong> {{ answer.question.question}}
                        <div class="score">
                            (Average Rating {{ answer | score_analysis('score') }})
                        </div>
                        <span class="participants">
                            (Participants  {{ answer.rated_by }})
                        </span>
                    </h4>
                </div>
                <div id="{{ key }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="rating-raw">
                            <div class="question-option">
                                <label class="control-label">Impact group size</label>
                            </div>
                            <div class="question-rating">
                                <input value="{{ answer | score_analysis('impact_group_size_score') }}" class="star-rating rating-loading">
                            </div>
                        </div>

                        <div class="rating-raw">
                            <div class="question-option">
                                <label class="control-label">Occurrence frequency</label>
                            </div>
                            <div class="question-rating">
                                <input value="{{ answer | score_analysis('occurrence_frequency_score') }}" class="star-rating rating-loading">
                            </div>
                        </div>

                        <div class="rating-raw">
                            <div class="question-option">
                                <label class="control-label">Experience impact</label>
                            </div>
                            <div class="question-rating">
                                <input value="{{ answer | score_analysis('experience_impact_score') }}" class="star-rating rating-loading">
                            </div>
                        </div>

                        <div class="rating-raw">
                            <div class="question-option">
                                <label class="control-label">Business impact</label>
                            </div>
                            <div class="question-rating">
                                <input value="{{ answer | score_analysis('business_impact_score') }}" class="star-rating rating-loading">
                            </div>
                        </div>

                        <div class="rating-raw">
                            <div class="question-option">
                                <label class="control-label">Financial feasibility</label>
                            </div>
                            <div class="question-rating">
                                <input value="{{ answer | score_analysis('financial_feasibility_score') }}" class="star-rating rating-loading">
                            </div>
                        </div>

                        <div class="rating-raw">
                            <div class="question-option">
                                <label class="control-label">Technical feasibility</label>
                            </div>
                            <div class="question-rating">
                                <input value="{{ answer | score_analysis('technical_feasibility_score') }}"  class="star-rating rating-loading">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% include 'elements/pagination.twig' with {'pagination': answers.pagination} %}
    {% else %}
        {% include 'elements/empty.twig' %}
    {% endif %}

{% endblock %}


{% block jsBottom %}
<script>
    $(document).ready(function(){
        $('.star-rating').rating({
            size: 'sm',
            min: 0,
            max: 10,
            step: 1,
            stars: 10,
            showClear:false,
            disabled:true
        });
    });
</script>
{% endblock %}
