{% extends 'layouts/default.twig' %}

{% block content %}
<form action="/survey/collect" method="POST" id="surveyForm">
    {% for key, question in questions %}
        <div class="panel panel-default">
        <div class="panel-heading"><strong>Question {{ question.id }}:</strong> {{ question.question}} </div>
        <div class="panel-body">
            <input name="data[{{ key }}][question_id]" value="{{ question.id }}" type="hidden">
            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Impact group size</label>
                </div>
                <div class="question-rating">
                    <input name="data[{{ key }}][impact_group_size]" class="star-rating rating-loading" required="required">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Occurrence frequency</label>
                </div>
                <div class="question-rating">
                    <input name="data[{{ key }}][occurrence_frequency]" class="star-rating rating-loading" required="required">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Experience impact</label>
                </div>
                <div class="question-rating">
                    <input name="data[{{ key }}][experience_impact]" class="star-rating rating-loading" required="required">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Business impact</label>
                </div>
                <div class="question-rating">
                    <input name="data[{{ key }}][business_impact]" class="star-rating rating-loading" required="required">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Financial feasibility</label>
                </div>
                <div class="question-rating">
                    <input name="data[{{ key }}][financial_feasibility]" class="star-rating rating-loading" required="required">
                </div>
            </div>

            <div class="rating-raw">
                <div class="question-option">
                    <label class="control-label">Technical feasibility</label>
                </div>
                <div class="question-rating">
                    <input name="data[{{ key }}][technical_feasibility]"  class="star-rating rating-loading" required="required">
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

<button type="submit" class="btn btn-success">Submit</button>
</form>
    <br>
{% endblock %}


{% block jsBottom %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
    $(document).ready(function(){
        $("#surveyForm").validate();

        $('.star-rating').rating({
            size: 'sm',
            min: 0,
            max: 10,
            step: 1,
            stars: 10,
            showClear:false,
            starCaptionClasses: {
                1: 'label label-danger',
                2: 'label label-danger',
                3: 'label label-warning',
                4: 'label label-warning',
                5: 'label label-info',
                6: 'label label-info',
                7: 'label label-primary',
                8: 'label label-primary',
                9: 'label label-success',
                10: 'label label-success'
            }
        });
    });
</script>
{% endblock %}
