{% extends 'layouts/default.twig' %}

{% block content %}
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <div class="main-body ptb-70-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="pl-20 single-product">
                        <div class="thumbnail-single mb-30">
                            <img src="/{{ product.main_image }}" alt="{{ product.name }}" class="img-responsive">
                        </div>

                        <div class="sidebars mb-50 visible-sm visible-">
                            <h1 class="item-name mb-20">{{ product.title }}</h1>
                            <div class="item-price-container mb-20 clearfix">
                                <div class="div price labels">Price</div>
                                <div class="div item-price">${{ product.price | number_format(2) }}</div>
                            </div>
                            <div class="item-info mb-20">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="div">
                                            <i class="fa fa-cart-arrow-down"></i> Total
                                            Sales:<strong>{{ product.sales }}</strong>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="div">
                                            License: <a class="license_type" href="/pages/license" target="_blank" title="Single Application License">
                                                Single Application
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="item-purchase-options mb-30">
                                <li><i class="fa fa-check"></i> <strong>6 Month</strong> support from the ThemeVessel</li>
                                <li><i class="fa fa-check"></i> Future updates</li>
                                <li><i class="fa fa-check"></i> Quality checked by ThemeVessel</li>
                                <li><i class="fa fa-check"></i> Well documented</li>
                            </ul>
                            <div class="mb-20">
                                <a href="{{ product.demo_url }}" target="_blank" class="btn btn-primary btn-md mb-10 btn-block">Live Preview</a>
                                <div id="purchase_now" class="mb-10"></div>
                                <div class="purchase-intro mb-20">
                                    <div class="already_download_text">If you already purchase this product and want to get download link? Please <span id="alreadyDownBtn">click here</span></div>
                                    <div class="send-link-form" style="display: none;">
                                        <h4 class="link">Retrieve Download Link</h4>
                                        <hr/>
                                        <label>Email Address</label>
                                        <form class="form-inline" id="sendLinkForm">
                                            <div class="form-group">
                                                <input type="email" id="email" class="form-control" required name="email" placeholder="Enter your email">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Send Link</button>
                                        </form>
                                        <small class="text-muted" id="cancelBtn">Cancel</small>
                                    </div>
                                </div>
                                <div class="purchase-intro mb-20">
                                    ThemeVessel create and maintain their all items. So all the items on ThemeVessel are guaranteed to
                                    have top qualities and functionalities. Purchase and get started!
                                </div>
                            </div>
                            <div class="mb-30 clearfix">
                                <div class="social-share">Social Share</div>
                                <div class="social-list">
                                    <ul>
                                        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ config.site_url }}/products/{{product.slug}}"><i
                                                        class="fa fa-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/home?status={{ config.site_url }}/products/{{product.slug}}"><i
                                                        class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://plus.google.com/share?url={{ config.site_url }}/products/{{product.slug}}"><i
                                                        class="fa fa-google-plus"></i></a></li>
                                        <li>
                                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ config.site_url }}/products/{{product.slug}}&title={{ product.meta_title ? product.meta_title : product.title }}&summary={{ product.meta_description ? product.meta_description : product.title }}"><i
                                                        class="fa fa-linkedin"></i></a></li>
                                        <li>
                                            <a href="https://pinterest.com/pin/create/button/?url=&media={{ config.site_url }}/products/{{product.slug}}&description={{ product.meta_description ? product.meta_description : product.title }}"><i
                                                        class="fa fa-pinterest"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="item-details">
                            <div class="item-meta row mb-30">
                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="meta-info meta-version">
                                        <p>Version</p>
                                        <span>{{ product.version }}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="meta-info meta-category">
                                        <p>Category</p>
                                        <span><a href="/products?cat={{ product.category.slug }}">{{ product.category.name }}</a></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="meta-info meta-released">
                                        <p>Released</p>
                                        <span>{{ product.created_at | date('M d, Y') }}</span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6">
                                    <div class="meta-info meta-updated">
                                        <p>Last Updated</p>
                                        <span>{{ product.modified_at | date('M d, Y') }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-description">
                                {{ product.description | raw }}
                            </div>
                            <div class="th-block">
                                <h3 class="th-block-title">Key Features</h3>
                                <ul class="ul-check clearfix">
                                    {% for feature in product.key_features %}
                                        <li><i class="fa fa-check"></i> {{ feature }}</li>
                                    {% endfor %}
                                </ul>

                                <hr>
                                <h3 class="th-block-title">Compatible Browsers</h3>
                                <ul class="ul-check clearfix">
                                    {% for browser in product.browsers_compatible %}
                                        <li><i class="fa fa-check"></i> {{ browser }}</li>
                                    {% endfor %}
                                </ul>

                                <hr>
                                <h3 class="th-block-title">Tags</h3>
                                <ul class="ul-tags">
                                    {% for tag in product.tags %}
                                        <li><a href="/products?tag={{ tag }}">{{ tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="sidebars mb-50 hidden-sm hidden-xs">
                        <h1 class="item-name mb-20">{{ product.title }}</h1>
                        <div class="item-price-container mb-20 clearfix">
                            <div class="div price labels">Price</div>
                            <div class="div item-price">${{ product.price | number_format(2) }}</div>
                        </div>
                        <div class="item-info mb-20">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="div">
                                        <i class="fa fa-cart-arrow-down"></i> Total
                                        Sales:<strong>{{ product.sales }}</strong>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="div">
                                        License: <a class="license_type" href="/pages/license" target="_blank" title="Single Application License">
                                            Single Application
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="item-purchase-options mb-30">
                            <li><i class="fa fa-check"></i> <strong>6 Month</strong> support from the ThemeVessel</li>
                            <li><i class="fa fa-check"></i> Future updates</li>
                            <li><i class="fa fa-check"></i> Quality checked by ThemeVessel</li>
                            <li><i class="fa fa-check"></i> Well documented</li>
                        </ul>
                        <div class="mb-20">
                            <a href="{{ product.demo_url }}" target="_blank" class="btn btn-primary btn-md mb-10 btn-block">Live Preview</a>
                            <div id="purchase_now" class="mb-10"></div>
                            <div class="purchase-intro mb-20">
                                <div class="already_download_text">If you already purchase this product and want to get download link? Please <span id="alreadyDownBtn">click here</span></div>
                                <div class="send-link-form" style="display: none;">
                                    <h4 class="link">Retrieve Download Link</h4>
                                    <hr/>
                                    <label>Email Address</label>
                                    <form class="form-inline" id="sendLinkForm">
                                        <div class="form-group">
                                            <input type="email" id="email" class="form-control" required name="email" placeholder="Enter your email">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Send Link</button>
                                    </form>
                                    <small class="text-muted" id="cancelBtn">Cancel</small>
                                </div>
                            </div>
                            <div class="purchase-intro mb-20">
                                ThemeVessel create and maintain their all items. So all the items on ThemeVessel are guaranteed to
                                have top qualities and functionalities. Purchase and get started!
                            </div>
                        </div>
                        <div class="mb-30 clearfix">
                            <div class="social-share">Social Share</div>
                            <div class="social-list">
                                <ul>
                                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ config.site_url }}/products/{{product.slug}}"><i
                                                    class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/home?status={{ config.site_url }}/products/{{product.slug}}"><i
                                                    class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://plus.google.com/share?url={{ config.site_url }}/products/{{product.slug}}"><i
                                                    class="fa fa-google-plus"></i></a></li>
                                    <li>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ config.site_url }}/products/{{product.slug}}&title={{ product.meta_title ? product.meta_title : product.title }}&summary={{ product.meta_description ? product.meta_description : product.title }}"><i
                                                    class="fa fa-linkedin"></i></a></li>
                                    <li>
                                        <a href="https://pinterest.com/pin/create/button/?url=&media={{ config.site_url }}/products/{{product.slug}}&description={{ product.meta_description ? product.meta_description : product.title }}"><i
                                                    class="fa fa-pinterest"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsBottom %}

    <script>
        paypal.Button.render({
            env: '{{ config.paypal.mode }}', // sandbox | production
            locale: 'en_US',
            style: {
                size: 'responsive',
                color: 'gold',
                shape: 'rect',
                label: 'buynow',
                branding: true
            },
            client: {
                sandbox:    '{{ config.paypal.sandbox_key }}',
                production: '{{ config.paypal.production_key }}'
            },
            commit: true,
            payment: function(data, actions) {
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                "amount": {
                                    "total": "{{ product.price }}",
                                    "currency": "USD",
                                    "details": {
                                        "subtotal": "{{ product.price }}"
                                    }
                                },
                                "description": "Product Purchase From ThemeVessel Shop",
                                "custom": "{{ product.uuid }}",
                                "payment_options": {
                                    "allowed_payment_method": "INSTANT_FUNDING_SOURCE"
                                },
                                "item_list": {
                                    "items": [
                                        {
                                            "name": "{{ product.title }}",
                                            "quantity": "1",
                                            "price": "{{ product.price }}",
                                            "sku": "{{ product.category.name }}",
                                            "currency": "USD"
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                });
            },
            onAuthorize: function(data, actions) {
                return actions.payment.execute().then(function(res) {
                    processOrder(data, res);
                    successAlert('Thank for purchasing {{ product.title }}. Please check your email to get the download link');
                });
            },
            onCancel: function(data, actions) {
                warningAlert('Sorry, for your bad experience!');
            },

            onError: function(err) {
                warningAlert('Sorry, for your bad experience!');
            }
        }, '#purchase_now');

        function processOrder(paypalBasic, paypalFull) {
            var data = {
                orderID: paypalBasic.orderID,
                payerID: paypalBasic.payerID,
                paymentID: paypalBasic.paymentID,
                paymentToken: paypalBasic.paymentToken,
                payment_create_time: paypalFull.create_time,
                product_uuid: paypalFull.transactions[0].custom,
                amount: parseFloat(paypalFull.transactions[0].amount.total),
                first_name: paypalFull.payer.payer_info.first_name,
                last_name: paypalFull.payer.payer_info.last_name,
                email: paypalFull.payer.payer_info.email,
                full_response: JSON.stringify(paypalFull),
            };
            $.ajax({
                url: '/orders',
                dataType: 'json',
                type: 'post',
                contentType: 'application/x-www-form-urlencoded',
                data: data,
                success: function( data, textStatus, jQxhr ){

                },
                error: function( jqXhr, textStatus, errorThrown ){

                }
            });
        }

        $(function() {
            $("#sendLinkForm").submit(function(e) {
                e.preventDefault();
                var data = $(this).serializeFormJSON();
                if(data.email) {
                    data.product_uuid = '{{ product.uuid }}';
                    console.log(data);
                    $.ajax({
                        url: '/orders/send-links',
                        type: 'post',
                        dataType: 'json',
                        data: data,
                        success: function(response) {
                            if(response.success) {
                                successAlert(response.message)
                            } else {
                                warningAlert(response.message)
                            }
                        },
                        error: function (err) {
                            warningAlert('Something went wrong! Please try later')
                        }
                    });
                } else {
                    warningAlert('Please enter a valid email address')
                }
            });
            $.fn.serializeFormJSON = function () {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function () {
                    if (o[this.name]) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };
        });

        // Sweet alert messages
        function successAlert(message) {
            swal({
                title: "Congratulations!",
                text: message,
                icon: "success",
                button: "Thanks"
            });
        }

        function warningAlert(message) {
            swal({
                title: "Cancelled!",
                text: message,
                icon: "warning",
                button: "Thanks"
            });
        }

        $('#alreadyDownBtn').on('click', function () {
            $('.already_download_text').hide();
            $('.send-link-form').show();
        });

        $('#cancelBtn').on('click', function () {
            $('.send-link-form').hide();
            $('.already_download_text').show();
        })
    </script>
{% endblock %}

{% block page_title %}
    {% if product.meta_title is not empty %}
        {{ product.meta_title }}
    {% elseif product.title is not empty %}
        {{ product.title }} - ThemeVessel
    {% else %}
        Website Templates & Themes - ThemeVessel
    {% endif %}
{% endblock %}


{% block meta_block %}
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ product.meta_title }}"/>
    <meta property="og:description" content="{{ product.meta_description }}"/>
    <meta property="og:url" content="{{ viewconfig.app.current_url }}"/>
    <meta property="og:site_name" content="ThemeVessel"/>
    <meta property="og:image" content="{{ product.meta_image }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="{{ product.meta_description }}"/>
    <meta name="twitter:title" content="{{ product.meta_title }}"/>
    <meta name="twitter:image" content="{{ product.meta_image }}"/>
{% endblock %}