{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Website Templates, Themes, UI Kits From $1.90</h1>
                {% include 'elements/banner-form.twig' %}
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <div class="items-area">
        <div class="container">
            {% if products.products is not empty %}
                <div class="option-bar">
                    <div class="row">
                        <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                            <h4>
                        <span class="heading-icon">
                            <i class="fa fa-th-list"></i>
                        </span>
                                <span class="hidden-xs">Item Lists</span>
                            </h4>
                        </div>
                        <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                            <div class="sorting-options">
                                <select class="sorting" id="soritng">
                                    <option value="{{ products.pagination |build_sorting_link('', 'desc') }}" {{ products.pagination | select_sorting('newest') }}>Newest Items</option>
                                    <option value="{{ products.pagination |build_sorting_link('', 'asc') }}" {{ products.pagination | select_sorting('oldest') }}>Oldest Items</option>
                                    <option value="/products?order=sales&sort=desc" {{ products.pagination | select_sorting('most-sold') }}>Most Sold Items</option>
                                    <option value="/products?featured=true" {{ products.pagination | select_sorting('featured') }}>Featured Items</option>
                                    <option value="/products?popular=true" {{ products.pagination | select_sorting('popular') }}>Popular Items</option>
                                    <option value="{{ products.pagination |build_sorting_link('price', 'desc') }}" {{ products.pagination | select_sorting('price_h_l') }}>Price (High To Low)</option>
                                    <option value="{{ products.pagination |build_sorting_link('price', 'asc') }}" {{ products.pagination | select_sorting('price_l_h') }}>Price (Low To High)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <small class="result-found text-muted">{{ products.pagination.total }} Result found</small>
                </div>
                <!-- Option bar end -->
                <div class="clearfix"></div>

                <div class="row">
                    <!-- Single item -->
                    {% for product in products.products %}
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            {% include 'elements/product-grid.twig' %}
                        </div>
                    {% endfor %}
                </div>
                {% include 'elements/pagination.twig' with {'pagination': products.pagination} %}
            {% else %}
                {% include 'elements/empty.twig' %}
            {% endif %}
            <!-- Option bar start -->
        </div>
    </div>
{% endblock %}

{% block jsBottom %}
    <script>
        $(function(){
            $('#soritng').on('change', function () {
                var url = $(this).val();
                if (url) {
                    window.location = url;
                }
                return false;
            });
        });
    </script>
{% endblock %}

{% block page_title %}
    {% if queryParams.title is not empty %}
        {{ queryParams.title }} Website Template - Theme Vessel
    {% elseif queryParams.order == 'sales' and queryParams.sort == 'desc' %}
        Best Selling Website Template - Theme Vessel
    {% elseif queryParams.order is empty and queryParams.sort == 'desc' %}
        Latest Website Template - Theme Vessel
    {% elseif queryParams.order is empty and queryParams.sort == 'asc' %}
        Oldest Website Template - Theme Vessel
    {% elseif queryParams.featured == 'true' %}
        Featured Website Template - Theme Vessel
    {% elseif queryParams.popular == 'true' %}
        Popular Website Template - Theme Vessel
    {% elseif queryParams.order == 'price' and queryParams.sort == 'desc' %}
        High Price Website Template - Theme Vessel
    {% elseif queryParams.order == 'price' and queryParams.sort == 'asc' %}
        Low Price Website Template - Theme Vessel
    {% elseif queryParams.cat is not empty %}
        {{ queryParams.cat | slug_to_str }} - Category - Theme Vessel
    {% else %}
        Website Templates & Themes - Theme Vessel
    {% endif %}
{% endblock %}