{% extends 'layouts/default.twig' %}

{% block banner %}
    <!-- BANNER AREA START -->
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <h1>Website Templates, Themes, UI Kits From $0.99</h1>
                {% include 'elements/banner-form.twig' %}
            </div>
        </div>
    </div>
    <!-- BANNER AREA END -->
{% endblock %}

{% block content %}
    <!-- Option bar start -->
    <div class="container">
        <div class="option-bar">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                    <h4>
                        <span class="heading-icon">
                            <i class="fa fa-th-list"></i>
                        </span>
                        <span class="hidden-xs">Item Lists</span>
                    </h4>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                    <div class="sorting-options">
                        <select class="sorting" id="soritng">
                            <option value="{{ products.pagination |build_sorting_link('', 'desc') }}">Newest Items</option>
                            <option value="{{ products.pagination |build_sorting_link('', 'asc') }}">Oldest Items</option>
                            <option value="/products?order=sales&sort=desc">Most Sold Items</option>
                            <option value="/products?featured=true">Featured Items</option>
                            <option value="/products?popular=true">Popular Items</option>
                            <option value="{{ products.pagination |build_sorting_link('price', 'desc') }}">Price (High To Low)</option>
                            <option value="{{ products.pagination |build_sorting_link('price', 'asc') }}">Price (Low To High)</option>
                        </select>
                    </div>
                </div>
            </div>
            <small class="result-found text-muted">{{ products.pagination.total }} Result found</small>
        </div>
    </div>
    <!-- Option bar end -->
    <div class="clearfix"></div>
    <!-- ITEMS AREA START -->
    <div class="items-area">
        <div class="container">
            {% if products.products is not empty %}
                <div class="row">
                    <!-- Single item -->
                    {% for product in products.products %}
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            {% include 'elements/product-grid.twig' %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                {% include 'elements/empty.twig' %}
            {% endif %}


        </div>
    </div>
    <!-- ITEMS AREA END -->
{% endblock %}

{% block jsBottom %}
    <script>
        $(function(){
            $('#soritng').on('change', function () {
                var url = $(this).val();
                if (url) {
                    window.location = url;
                }
                return false;
            });
        });
    </script>
{% endblock %}