{% extends 'layouts/default.twig' %}

{% block content %}
    <div class="main-body ptb-70-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7">
                    <div class="pl-20 single-product">
                        <div class="thumbnail-single mb-30">
                            <img src="/{{ product.main_image }}" alt="{{ product.name }}" class="img-responsive">
                        </div>

                        <div class="item-meta row mb-30">
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="meta-info meta-version">
                                    <p>Version</p>
                                    <span>{{ product.version }}</span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="meta-info meta-category">
                                    <p>Category</p>
                                    <span><a href="#">{{ product.category.name }}</a></span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="meta-info meta-released">
                                    <p>Released</p>
                                    <span>{{ product.created_at | date('M d, Y') }}</span>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="meta-info meta-updated">
                                    <p>Last Updated</p>
                                    <span>{{ product.modified_at | date('M d, Y') }}</span>
                                </div>
                            </div>
                        </div>


                        <div class="item-description">
                            {{ product.description | raw }}
                        </div>

                        <div class="th-block">
                            <h3 class="th-block-title">Key Features</h3>
                            <ul class="ul-check clearfix">
                                <li><i class="fa fa-check"></i> Responsive Layout</li>
                                <li><i class="fa fa-check"></i> Bootstrap 4.x</li>
                                <li><i class="fa fa-check"></i> Documentation</li>
                                <li><i class="fa fa-check"></i> Retina Ready</li>
                            </ul>

                            <hr>
                            <h3 class="th-block-title">Compatible Browsers</h3>
                            <ul class="ul-check clearfix">
                                <li><i class="fa fa-check"></i> Chrome</li>
                                <li><i class="fa fa-check"></i> Firefox</li>
                                <li><i class="fa fa-check"></i> Opera</li>
                                <li><i class="fa fa-check"></i> Safari</li>
                                <li><i class="fa fa-check"></i> Edge</li>
                                <li><i class="fa fa-check"></i> IE10</li>
                                <li><i class="fa fa-check"></i> IE11</li>
                            </ul>

                            <hr>
                            <h3 class="th-block-title">Tags</h3>
                            <ul class="ul-tags">
                                <li><a href="#">Academic</a></li>
                                <li><a href="#"> Agency</a></li>
                                <li><a href="#"> Child</a></li>
                                <li><a href="#"> College</a></li>
                                <li><a href="#"> Education</a></li>
                                <li><a href="#"> Education Template</a></li>
                                <li><a href="#"> Event</a></li>
                                <li><a href="#"> Course </a></li>
                                <li><a href="#"> Portfolio</a></li>
                                <li><a href="#"> School</a></li>
                                <li><a href="#"> Student</a></li>
                                <li><a href="#"> Study</a></li>
                                <li><a href="#"> Teacher</a></li>
                                <li><a href="#"> University</a></li>
                                <li><a href="#">Charity </a></li>
                                <li><a href="#">Business</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5">
                    <div class="sidebars mb-50">
                        <h1 class="item-name mb-30">{{ product.title }}</h1>
                        <div class="item-price-container mb-30 clearfix">
                            <div class="div price labels">Price</div><div class="div item-price">${{ product.price | number_format(2) }}</div>
                        </div>
                        <div class="item-info mb-30">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <span class="rating-box">
                                        <span class="rating" style="width:{{ product.rating | rating_percentage(5) }}%;"></span>
                                    </span>
                                    <span class="rating-number">({{ product.rating | number_format(2) }})</span>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="div">
                                        <i class="fa fa-cart-arrow-down"></i> Total Sales:<strong>{{ product.sales }}</strong>
                                    </div>
                                </div>
                                {#<div class="col-md-6">
                                    <div class="div">
                                        <i class="fa fa-heart"></i> Favorites:<strong>6</strong>
                                    </div>
                                </div>#}
                            </div>
                        </div>
                        <ul class="item-purchase-options mb-30">
                            <li><i class="fa fa-check"></i> <strong>1 Year</strong> support from the ThemeVessel</li>
                            <li><i class="fa fa-check"></i> Future updates</li>
                            <li><i class="fa fa-check"></i> Quality checked by ThemeVessel</li>
                            <li><i class="fa fa-check"></i> Well documented</li>
                        </ul>
                        <div class="mb-20">
                            <form action="index.html" method="GET" enctype="multipart/form-data">
                                <a href="#" class="btn btn-primary btn-md mb-10 btn-block">Live Preview</a>
                                <a href="#" class="btn btn-success btn-md mb-20 btn-block">Purchase Now</a>
                            </form>
                            <div class="purchase-intro mb-20">
                                All the items on ThemeHunt are guaranteed to have top notch quality and state of the art functionalities. Purchase and get started!
                            </div>
                            <form action="index.html" method="GET" enctype="multipart/form-data">
                                <a href="#" class="btn btn-default btn-md mb-10 btn-block"><i class="fa fa-heart"></i> Add to Favorites</a>
                            </form>
                        </div>
                        <div class="mb-30 clearfix">
                            <div class="social-share">Social Share</div>
                            <div class="social-list">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}