{% extends '/layouts/email.twig' %}

{% block content %}
    <p>
        <strong>Dear {{ data.user.first_name }} {{ data.user.last_name }},</strong>
    </p>
    <p>
        We have just received your payment for this order. Please review your payment information and download your product.
    </p>

    <br/>
    <h2>Payment Information:</h2>
    <div class="payment_info">
        <p>Invoice ID: <strong>INV-{{ "%06d"|format(data.invoice.id) }}</strong></p>
        <p>Amount: <strong>${{ data.order.amount | number_format(2)}}</strong></p>
        <p>Payment By: Paypal</p>
        <p>Payment Email: {{ data.user.email }}</p>
    </div>

    <br/>
    <h2>Download Links</h2>
    <div class="download_links">
        {% for link in data.downloadLinks %}
            <p>
                Product Name: <strong class="product_name">{{ link.download_name }}</strong>
                <br/>
                Download Link: <a href="{{ link.link }}">{{ link.link }}</a>
                <br/>
                <span class="expire_notice">This link will be expire after 20 mins</span>
            </p>
        {% endfor %}
    </div>
    <br/>
    <p>You can send us e-mail at support@themevessel.com For Any Query or Support Related Issue</p>
{% endblock %}